{% extends "main.html" %}
{% block title %}CSV Upload{% endblock %}
{% block body %}
<form name="csv-form" action="/validateCSV" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2><label for="csv-upload">Upload a CSV file</label></h2>
    <input id="csv-upload" class="btn btn-outline-primary" type="file" name="file" accept=".csv"/>
    <input class="btn btn-outline-primary" type="submit" name="submit" value="Submit"/>
    <input class="btn btn-outline-primary" type="submit" name="submit" value="Load headers"/><br>
    <input type="checkbox" name="headers" checked>Check headers for uppercase letters<br>
    <input type="checkbox" name="null_values" checked>Check for null values<br>
    <input type="checkbox" name="special_characters" checked>Check for special characters<br>
</form>

<ul class="list-group">
    {% for h in headers %}
        <li class="list-group-item">{{ h }}</li>
    {% endfor %}
</ul>
{% endblock %}