#csv-upload {
	border-color: transparent;
	padding: 0;
}

input[type="submit"] {
    margin: 2.5vh 0;
}

input[name="headers"], table {
    margin-top: 2.5vh;
}

#csv-upload:hover {
	background-color: inherit;
	color: #007bff;
	cursor: pointer;
}


.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.collapsible:hover {
	background-color: #555;
}

.content {
	color: black;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	text-align: left;
	margin-top: 1vh;
}

.table {
    text-align: center;
}

.col-check {
    padding: .375rem 15px;
}